# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production build (if عندك build process)
build/
dist/

# نظام تشغيل ملفات
.DS_Store
Thumbs.db

